@media (max-width: 1199px) {
  .formulario {
    margin-left: 50px;
  }
}
@media (max-width: 991px) {
  .navbar {
    padding: 35px 20px 35px;
  }
  .navbar-brand {
    max-width: 270px;
  }
  .nav-item {
    padding-bottom: 0;
    margin-left: 0;
    text-align: center;
    border-bottom: 1px solid #30348a;
  }
  .nav-item.active:after {
    display: none;
  }
  .navbar-nav {
    border-bottom: 0;
    border-top: 1px solid #30348a;
  }
  .navbar-collapse ul {
    margin-top: 10px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .carousel-indicators {
    padding: 5px 12px;
  }
  .carousel-frase h2 {
    font-size: 25px;
    padding: 1px 10px;
    line-height: 31px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 40px;
  }
  .puerta-puerta {
    margin-top: -40px;
  }
  .puerta-puerta .container {
    max-width: 970px;
  }
  .nosotros {
    padding: 20px;
  }
  .nosotros p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .puerta-puerta h1 {
    font-size: 32px;
  }
  .seccion-formulario h2 {
    top: -360px;
    left: 18%;
  }
  .wp {
  padding-top: 50px;
  }
}

@media(max-width: 767px) {
  .navbar {
    padding: 20px;
  }
  .navbar-brand {
    max-width: 240px;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-frase {
    max-width: 450px;
  }
  .puerta-puerta {
    margin-top: 0;
  }
  .certificados {
    border-bottom: 0;
  }
  .grilla figure img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nosotros {
    padding: 20px 10px;
  }
  .servicio {
    margin-top: 7px;
    max-width: 110px;
  }
  .lineas-laterales {
    border-left: inherit;
    border-right: inherit;
  }
  .footer-container {
    padding-top: 50px;
  }
  .taller {
    left: -25%
  }
}

@media(max-width: 567px) {
  .navbar {
    padding: 15px;
  }
  .navbar-brand {
    max-width: 170px;
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  .carousel-frase {
    background-color: #fff;
    position: relative;
    top: inherit;
    transform: translate(0, 0);
    left: 0;
    max-width: inherit;
    padding: 8px 15px;
  }

  .carousel-frase h2 {
    background-color: inherit;
    font-size: 18px;
    line-height: 25px;
  }
}
