@media (min-width: 1200px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 1199px) {
  .formulario {
    margin-left: 50px;
  }
}
@media (max-width: 991px) {
  .navbar {
    padding: 35px 20px 35px;
  }
  .navbar-brand {
    max-width: 270px;
  }
  .nav-item {
    padding-bottom: 0;
    margin-left: 0;
    text-align: center;
    border-bottom: 1px solid #30348a;
  }
  .nav-item.active:after {
    display: none;
  }
  .navbar-nav {
    border-bottom: 0;
    border-top: 1px solid #30348a;
  }
  .navbar-collapse ul {
    margin-top: 10px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #carouselPrincipal {
    margin-top: 127px;
  }
  .carousel-indicators {
    padding: 5px 12px;
  }
  .carousel-frase h2 {
    font-size: 25px;
    padding: 1px 10px;
    line-height: 31px;
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
  }
  .carousel-control-next, .carousel-control-prev {
    width: 40px;
  }
  .puerta-puerta {
    margin-top: -40px;
    margin-bottom: 30px;
  }
  .puerta-puerta .container {
    max-width: 970px;
  }
  .nosotros {
    padding: 20px;
  }
  .nosotros p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .puerta-puerta h1 {
    font-size: 32px;
  }
  .seccion-formulario {
    text-align: center;
  }
  .formulario {
    margin-left: 0;
  }
  .seccion-formulario h2 {
    top: -320px;
    left: 18%;
  }
  .wp {
    padding-top: 50px;
  }
  .servicio-autorizado h3 {
    font-size: 15px;
    padding-top: 18px;
    padding-bottom: 20px;
  }
  .servicio-autorizado {
    margin-top: -59px;
  }
}

@media(max-width: 767px) {
  .navbar {
    padding: 20px;
  }
  .navbar-brand {
    max-width: 240px;
  }
  #carouselPrincipal {
    margin-top: 92px;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-frase {
    max-width: 450px;
  }
  .puerta-puerta {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .certificados {
    border-bottom: 0;
  }
  .grilla figure img {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .nosotros {
    padding: 20px 10px;
  }
  .servicio {
    max-width: 100px;
  }
  .puerta-puerta h1 {
    font-size: 25px;
    margin-left: 5px;
  }
  .seccion-formulario h2 {
    top: 60px;
    left: -25%;
  }
  .marcas {
    padding-top: 0;
  }
  .marcas ul li:nth-child(1), .marcas ul li:nth-child(2), .marcas ul li:nth-child(3), .marcas ul li:nth-child(4), .marcas ul li:nth-child(5) {
    width: 24%;
  }
  .lineas-laterales {
    border-left: inherit;
    border-right: inherit;
  }
  .footer-container {
    padding-top: 50px;
  }
  .taller {
    left: -25%
  }
}

@media(max-width: 575px) {
  .navbar {
    padding: 15px;
  }
  .navbar-brand {
    max-width: 170px;
  }
  #carouselPrincipal {
    margin-top: 70px;
  }
  .carousel-control-next, .carousel-control-prev {
    display: none;
  }
  .carousel-frase {
    background-color: #fff;
    position: relative;
    top: inherit;
    transform: translate(0, 0);
    left: 0;
    max-width: inherit;
    padding: 8px 15px;
  }
  .seccion-formulario h1 {
    font-size: 27px;
    line-height: 21px;
  }
  .seccion-formulario h3 {
    font-size: 27px;
  }
  .wp img {
    position: absolute;
    bottom: 0px;
    left: -9px;
    width: 23%;
  }
  .carousel-frase h2 {
    background-color: inherit;
    font-size: 18px;
    line-height: 25px;
  }
  .servicio-container {
    flex-direction: column;
    padding: 10px 0;
  }
  .servicio-autorizado {
    margin-top: 0;
  }
  .espacio {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .marcas ul li:nth-child(1), .marcas ul li:nth-child(2), .marcas ul li:nth-child(3), .marcas ul li:nth-child(4), .marcas ul li:nth-child(5) {
    width: 48%;
  }
  .marcas ul li {
    width: 48%;
  }
}